.has-upload_icon,
.has-attachment {
  &.has_many_fields {
    min-height: 10rem;
    padding-left: 12rem;

    ol {
      padding-top: 0.25rem;
    }

    .handle {
      display: none;
      top: 1rem;
      left: 1rem;
      right: auto;
      width: 96px;
      height: 96px;
      cursor: default;

      img {
        position: relative;
        z-index: 1;
        background-color: unquote("rgb(#{$palette-grey-200})");
      }

      small {
        display: block;
        margin-top: ($spacer / 2);
        color: unquote("rgb(#{$palette-grey-500})");
        font-size: 90%;
        text-shadow: 0 0 1px white;

        em {
          margin-left: 1rem;
          color: unquote("rgb(#{$palette-cyan-500})");
          font-style: normal;
        }
      }

      &.ui-sortable-handle {
        cursor: move;

        img {
          box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;

          &:hover,
          &:focus {
            box-shadow: rgba(0, 0, 0, 0.7) 0 2px 12px;

            + small {
              color: black;
            }
          }
        }
      }
    }
  }
}

